.input-container{
    width: 100%;
}

.regular-style{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: content-box; /* ajusta el box-sizing */
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    background-color: #EBD9C8;
    border: none;
}

.regular-style::placeholder{
    font-size: 14px;
    color: gray;
    opacity: 0.8;
    background-color: #EBD9C8;
}

.input-error{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: content-box; /* ajusta el box-sizing */
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    background-color:pink;
    border: none;
}

.input-error::placeholder{
    font-size: 14px;
    color:red;
    opacity: 0.8;
    background-color: pink;
}